<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709685898362-8ihjgioicosvc7f0dl0tv1h98vrrmik0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709685898362-8ihjgioicosvc7f0dl0tv1h98vrrmik0</string>
	<key>API_KEY</key>
	<string>AIzaSyBAe7LVfAttIzof9jlukmDSWJseaRlLm1w</string>
	<key>GCM_SENDER_ID</key>
	<string>709685898362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matthewramos.StripeSDK-Demo</string>
	<key>PROJECT_ID</key>
	<string>stripesdk-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>stripesdk-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709685898362:ios:0d85865b7b2f996b4b5fc3</string>
	<key>DATABASE_URL</key>
	<string>https://stripesdk-demo.firebaseio.com</string>
</dict>
</plist>